{% extends 'base.html' %}

{% block style %}
<link href="{{ url_for('static', filename='styles/cocktail.css') }}" rel="stylesheet">
{% endblock %}

{% block title %}
{{ cocktail.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="presentation">
        <h2>{{ cocktail.name }}</h2>
        <img class="picture" src="{{ url_for('static', filename='images/' + cocktail.name.replace(' ', '_') + '.jpg') }}">
    </div>
    <h3>Description</h3>
    <p class="description">
        {{ cocktail.description }}
    </p>
    {% if cocktail.ingredients %}
    <h3>Ingredients</h3>
    <ul class="ingredients">
        {% for ingredient in cocktail.ingredients %}
        <li class="ingredient">- {{ ingredient.name }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}